<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
    <img src="/img/horizontallogo.png" href="/">{{ site.title }}</img>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">主页</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}{% if node.noindex %}{% else %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
          {% endif %}{% endif %}
        {% endif %}
      {% endfor %}
      <hr>
      <a class="sidebar-nav-item" href="http://www.cnbeining.com">cnBeining</a>
      <a class="sidebar-nav-item" href="https://ze3kr.tlo.xyz">ZE3kr</a>
      <a class="sidebar-nav-item" href="{{ site.github.repository_url }}">GitHub页面</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} <a href="http://www.superfashi.com">SuperFashi</a>. 版权所有</p>
  </div>
</div>
