<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
    <!--><a href="/"><div class="svg-fuckbilibili-logo" style="width:272px;height:5em;background-repeat:no-repeat;max-width:100%;margin-left:auto;margin-right:auto;"></div></a><-->
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">主页</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for post in site.data.navigation %}
        <a class="sidebar-nav-item{% if page.url == post.url %} active{% endif %}" href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
      <hr>
      <a class="sidebar-nav-item" href="http://www.cnbeining.com">cnBeining</a>
      <a class="sidebar-nav-item" href="https://ze3kr.tlo.xyz">ZE3kr</a>
      <a class="sidebar-nav-item" href="{{ site.github.repository_url }}">GitHub页面</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} <a href="http://www.superfashi.com">SuperFashi</a>. 版权所有</p>
     <p>大型文件如css托管在UPYUN上</p>
  </div>
</div>
