---
layout: compress
---
<!DOCTYPE html>
<html lang="zh-cn">

  {% include head.html %}

  <body>
    <article class="content container">
      {{ content }}
	  <footer><a class="sidebar-nav-item" href="https://github.com/fuckbilibili/fuckbilibili.github.io/edit/master/{{ page.path }}" target="_blank">帮助我们改善此页面</a> | {% if page.title %}<a href="https://github.com/fuckbilibili/fuckbilibili.github.io/issues/new?title=%E8%AF%84%E8%AE%BA%3A+%E7%94%A8+{{ page.title | cgi_escape }}" target="_blank">评论此页面</a>{% endif %}</footer>
    </article>
	{% include sidebar.html %}

  </body>
</html>
